.logo-txt{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-font-family:Arial  ;
    -fx-text-fill: white;
}

.bevel-grey {

    -fx-text-fill: #3E3F40 ;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button-txt{
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-font-family:Arial  ;
    -fx-text-fill: white;
    -fx-background-color: #525E56;
}
.button-txt:hover{
    -fx-background-color: #343D37;
}