.text-field{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.don{
    -fx-text-fill:#000000 ;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18;
    -fx-background-color: #50aaff ;
    -fx-background-radius: 15;
}
.button-add:hover{
    -fx-effect: dropshadow( gaussian ,#3c9dff, 40, 0.1, 0, 0);
}

.text-name{
    -fx-text-fill:#3C3D3F ;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.form-box2{
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( gaussian ,dimgray,40,0.1,0,0);
}